.color-white{
    background-color: whitesmoke;
}
.color-coral {
    background-color: lightcoral;
}
.navbar{
    padding: 0%;
}
.card-body{
    top: 40%;
    width: 286px;
}
body {
    font-family: 'Poiret One', cursive;
}
#nametag{
    font-family: 'Monoton', cursive;
}