.color-white{
    background-color: whitesmoke;
}
.color-coral {
    background-color: lightcoral;
}
.navbar{
    padding: 0%;
}
.card-body{
    top: 60%;
    width: 286px;
}
body {
    font-family: 'Poiret One', cursive;
}
#nametag{
    font-family: 'Monoton', cursive;
}
.portfolio-img{
    width: 286px;
    height: 200px;
    align-content: center
}
.specialized-img{
    width: 286px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
